@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    height: 100%;
}
body{
    background-color: rgba(240, 237, 226, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    margin-top: auto;
}

.font-mytitle {
    font-family: 'Hanalei Fill', cursive;
  }
 
  .rating span {
    margin: 0.1rem;
  }
  
  .rating svg {
    color: #f8e825;
  }
  
  .rating-text {
    font-size: 0.8rem;
    font-weight: 600;
    padding-left: 0.5rem;
  }

select{
    border-radius: 8px;
    border-color: #c9cdd4;
    background-color: rgba(249 250 251,0.5);
    color:rgba(17, 24, 39, 0.7);
    font-size: 0.875rem;
}
.custom-link{
    color:lightgray
}

.custom-link-active{
    color:burlywood
}

.bg-cyan-700{
    background-color: rgba(255, 94, 0, 0.8);
}

._submenu_qieiq_1{
    min-width: 240px;
}

._dropdown_15ws1_1 ._menu_15ws1_133{
    min-width: 120px;
}
